<%= form_for :bulk_time_entry, :url => {:action => 'save'}, :html => {:class => 'tabular time-entry'} do |f| %>
   <%= fields_for('time_entries[]', time_entry) do |f| %>
      <%# trick to have automatically populated html id/names of fields %>
      <% time_entry.id = rnd = rand(9999)
      @object = time_entry
      @object_name = 'time_entry' -%>
      <div class="box" id="entry_<%= rnd %>">
         <%# TODO: preselect project if in project page %>
         <%= error_messages_for 'time_entry' %>

         <% if @selected_issue %>
            <p>
               <%= label_for_field :project_id, rnd, :required => true %>
               <%= @selected_issue.project %>
               <%= f.hidden_field :project_id %>
            </p>

            <p id="entry_<%= rnd %>_issues">
               <%= label_for_field :issue_id, rnd %>
               
               <%= link_to @selected_issue, { :controller => 'issues', :action => 'show', :id => @selected_issue.id }, { :target => "_blank" }%>

               <%= f.hidden_field :issue_id, :class => "preselected-issue-id" %>
            </p>
         <% else %>
            <p>
               <%= label_for_field(:project_id, rnd, :required => true) %>
               <% projects = project_tree_options_for_select(@projects, :selected => @selected_project).html_safe %>

               <%= f.select :project_id, ('<option value="">(choose project)</option>' + projects).html_safe, {}, { :class => "project-select" } %>&nbsp;
            </p>

            <p id="entry_<%= rnd %>_issues" class="issue-selector-container">
               <%= render :partial => 'issues_selector', :locals => { :issues => @issues, :f => f, :rnd => rnd } %>
            </p>
            <p>
               <input type="checkbox" class="only-my-issues-checkbox" id="only-my-issues-<%= rnd %>" />
               <label for="only-my-issues-<%= rnd %>" style="display: inline; float: none; margin-left: 0;">
                  <%= h l(:label_only_my_issues) %>
               </label>

               <input type="checkbox" class="no-closed-issues-checkbox" id="no-closed-issues-<%= rnd %>" />
               <label for="no-closed-issues-<%= rnd %>" style="display: inline; float: none; margin-left: 0;">
                  <%= h l(:label_no_closed_issues) %>
               </label>

               <label for="select-issue-by-nr-<%= rnd %>" style="display: inline; float: none; margin-left: 1em;">
                  <%= h l(:label_select_issue_by_nr)  %>
               </label>
               <input type="text" class="jump-to-issue" size="6" id="select-issue-by-nr-<%= rnd %>" />
            </p>
         <% end %>
         <p>
            <%= label_for_field :spent_on, rnd, :required => true %>
            <%= f.text_field :spent_on, :size => 10, :name => "time_entries[#{rnd}][spent_on]", :id => "time_entries_#{rnd}_spent_on", :class => 'spent_on' %><%= calendar_for("time_entries_#{rnd}_spent_on") %>
         </p>
         <p>
            <%= label_for_field :hours, rnd, :required => true %>
            <%= f.text_field :hours, { :size => 6, :maxlength => 6, :class => "hours-input" } %>

            <button class="toggle-timer-button" style="margin-left: 1em;">
               <%= l(:button_start_timer) %>
            </button>
         </p>
         <p>
            <%= label_for_field :comments, rnd %>
            <%= f.text_field :comments, :size => 100, :maxlength => 255 %>
         </p>
         <p>
            <%= label_for_field :activity_id, rnd, :required => true %>
            <%= f.select :activity_id, (@activities.collect {|p| [p.name, p.id]}) %>
         </p>
         <% time_entry.custom_field_values.each do |value| %>
            <p><%= custom_field_tag_with_label "time_entries[#{rnd}]", value %></p>
         <% end if time_entry.respond_to?(:custom_field_values) %>

         <p>
           <button type="submit" class="save-button">
             <%= l(:button_save_this_entry) %>
           </button>

           <button class="cancel-button" style="margin-left: 1em;">
             <%= l(:button_cancel) %>
           </button>
         </p>
      </div>
   <% end %>

   <script type="text/javascript">
      var timeEntry = new TimeEntry($P('entry_<%= @object.id %>'))
      TimeEntry.entries.push(timeEntry)
   </script>

 <% end %>