<h2>
   <%= l(:label_bulk_time_entries) %>

   <% form_remote_tag :url => { :action => "add_entry"}, :html => { :style => "margin-left: 2em" } do %>
      Add Issue # <%=  text_field_tag :issue_id, "", :size => 10 %>

      <%= submit_tag "OK" %>
   <% end %>
</h2>


<% content_for :header_tags do %>
   <%= javascript_include_tag 'timeentry', :plugin => 'bulk_time_entry_plugin' %>

   <script type="text/javascript">
      TimeEntry.defaultUserId = <%= User.current.id %>
      TimeEntry.loadIssuesUrl = "<%= url_for :action => :load_assigned_issues %>"
      TimeEntry.timeEntriesTodayUrl = "<%= url_for :action => :time_entries_today %>"
      TimeEntry.lastValues.lastSpentOnDate = "<%=  Date.today.to_s %>"

      TimeEntry.language.start_timer = <%= l(:button_start_timer).to_json %>
      TimeEntry.language.stop_timer = <%= l(:button_stop_timer).to_json %>
      TimeEntry.language.are_you_sure = <%= l(:text_are_you_sure).to_json %>

       document.observe('dom:loaded', function() {
           TimeEntry.updateTodayEntries()
       })
   </script>

    <style type="text/css">
        table.list th {
            text-align: left;
        }

        table.list td, table.list th {
            padding: .2em .5em;
        }
    </style>
<% end %>


<div id="entries">
   <%= render :partial => 'time_entry', :collection => @time_entries %>
</div>
<div id="add-entry">
   <button onclick="<%= remote_function(:url => {:action => 'add_entry'}) %>" accesskey="a">
      <%=  l(:label_bulk_time_add_another) %>
   </button>

   <button onclick="TimeEntry.saveAllEntries(); return false;" style="margin-left: 1em;">
      <%= l(:button_save_all_entries) %>
   </button>
</div>

<div id="time-entries-today" style="margin-top: 2em;">

</div>

<% html_title l(:label_bulk_time_entries) %>
